<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <title>Guess</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link href="{% static 'css/jquery.tableui.css' %}"  rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.tableui.js' %}js/"></script>
    <script type="text/javascript">
    $(function(){
        $(".table_solid").tableUI();
    });
    </script>

</head>
<body>
        <div id="header">
        {% load staticfiles %}
        <img class="logo" src= "{% static "img/music.png" %}"  alt="logo" />
		<div class="wrapper" id = "header_content">
			<div class = "navlinks" id="main_links">
				<a href="{% url 'home' %}" title="homepage" onfocus="this.blur();" rel="home"  target="_blank">
					<span class = "first">H</span><span>ome</span>
				</a>
				<a href="{% url 'explore' %} " onfocus="this.blur();" title="explore"  target="_blank">
					<span class = "first">E</span><span>plore</span>
				</a>
				<a href="{% url 'recommend' %}" onfocus="this.blur();" title="recommend" class="home-link active" target="_blank">
					<span class = "first">G</span><span>uess</span>
				</a>
			</div>
			<div id="header_middle" >
				<div id="auth_nav">
                    {% if username %}
                        <span style="color: #9DC122;">hello,{{ username }}</span>
                        <a href="{% url 'logout' %}" onfocus="this.blur();" >
                            <span>Log out</span>
                        </a>
                    {% else %}
                        <a href="#" class="login" onclick="openme()">Log in</a>
					    <a href="#" class="signup" onclick="openme2()">Sign up</a>
                    {% endif %}
				</div>
			</div>
			<div id="header_right">
				<div id="search" class="searchbox header_item">
					<form class="search" method="get" action="{% url 'search' %}" target="_blank" accpet-charset="UTF-8">
						<input autocomplete="off" class="text q" id="q" name="q" placeholder="Search" type="text">
{#						<input class="search_submit" value=" Search " type="submit">#}
					</form>
				</div>
			</div>
		</div>
	</div>
{#    form for login#}
	<div id="login1"></div>
		<div id="login2">
			<div style="height:45px;">
				<div id="welcome" class="float">welcome</div>
				<div id="close_button" class="float">
					<input class="hand" type="button" onClick="closeme()">
				</div>
			</div>
            <form method='post' action="{% url 'login' %}" enctype="multipart/form-data" id="login_form">
                {% csrf_token %}
                <div class="shuru">
                    {{ lf.username.errors }}
                    <img src = "{% static "img/user.png" %}" alt = "用户名"/>
{#                    <label for="id_username">用户名：</label>#}
                    {{ lf.username }}
                </div>
                <div class="shuru">
                    {{ lf.passwd.errors }}
                    <img src = "{% static "img/pass.png" %}" alt = "密码"/>
{#                    <label for="id_passwd">密&nbsp&nbsp&nbsp&nbsp码：</label>#}
                    {{ lf.passwd }}
                </div>
                 <input class="hand" id="log_in" type="submit" name="login" value="" >
            </form>
		</div>
{#    form for signup#}
    	<div id="login12"></div>
		<div id="login22">
			<div style="height:45px;">
{#				<div id="link_log" class="float">已有账户<a href="#" class="login" onclick="openme()">Log in</a></div>#}
                <div id="link_log" class="float">Sign Up</div>
				<div id="close_button2" class="float">
					<input class="hand" type="button" onClick="closeme2()">
				</div>
			</div>
            <form method='post' action="{% url 'signup' %}" enctype="multipart/form-data" id="signup_form">
                {% csrf_token %}
                <div class="shuru">
                    {{ sf.username.errors }}
                    <label for="id_username">用户名：</label>
                    {{ sf.username }}
                </div>
                <div class="shuru">
                    {{ sf.email.errors }}
                    <label for="id_email">邮&nbsp&nbsp&nbsp&nbsp箱：</label>
                    {{ sf.email }}
                </div>
                <div class="shuru">
                    {{ sf.passwd.errors }}
                    <label for="id_passwd">密&nbsp&nbsp&nbsp&nbsp码：</label>
                    {{ sf.passwd }}
                </div>
                 <input class="hand" id="sign_up" type="submit" name="signup" value="" >
            </form>
		</div>

        {% load staticfiles %}
        <script type="text/javascript" src="{% static 'js/login.js' %}"></script>

    <div class="content">
        <div id="left"></div>
        <div id="middle">
        {% if username %}
            {% if musics|length >= 10 %}
{#            {% if musics %}#}
            <span>&nbsp&nbsp&nbsp&nbspHere is the <strong style="color:#9acd32">recommendation</strong> for you.</span>
{#            <div class="aa">#}
{#                <ul>#}
{#                    {% for music in musics %}#}
{#                        <li> <a href="{% url 'play' music.item_id %}" target="_blank"><img src = "{% static "img/playicon.png" %}">&nbsp&nbsp&nbsp&nbsp{{ music.item_name }}</a></li>#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            </div>#}
                <table class="table_solid" border="0" cellspacing="0">
	            <tr>
		            <th>    </th>
		            <th>歌名</th>
		            <th>歌手</th>
	            </tr>
                 {% for music in musics %}
	            <tr>
		            <td><img src = "{% static "img/playicon.png" %}"></td>
		            <td><a href="{% url 'play' music.item_id %}" target="_blank">{{ music.item_name }}</a></td>
		            <td>{{ music.art_name }}</td>
	            </tr>
                {% endfor %}
            </table>
{#             <div class="pagenate">#}
{#             {% if has_previous %}#}
{#                <a href="{% url 'pages' 1 %}">首页</a>#}
{#                <a href="{% url 'pages' previous_page  %}">上一页</a>#}
{#             {% else %}#}
{#                首页 上一页#}
{#             {% endif %}#}
{#             {% if has_next %}#}
{#                <a href="{% url 'pages' next_page  %}">下一页</a>#}
{#                        <a href="{% url 'pages' all_page %}"></a>#}
{#             {% else %}#}
{#                下一页 尾页#}
{#             {% endif %}#}
{#              第{{ cur_page }}/{{ all_page }}页#}
{#         </div>#}
        {% else %}
            <p>亲，多听/喜欢几首才能给出贴心的推荐哦~</p>
        {% endif %}
        {% else %}
            <p>请先登录</p>
        {% endif %}

        </div>
        <div id="right">
            <div class="slider-caption"></div>
        </div>
    </div>
</body>
</html>
